# Environment variables
postgres.env
backend/.env
frontend/.env

### Backend gitignore (Node)
backend/.git_old_webapp_history/

# Node modules
node_modules/
frontend/node_modules

# API Testing
backend/api.http

### Frontend gitignore (Vite/React)
# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

### IDE specific
.vscode/