# Application Port
PORT=3000

# JWT Secret
JWT_SECRET=

# Nodemailer (Gmail) Credentials
EMAIL_USER=
EMAIL_PASS=

# Frontend URL for Redirects
FRONTEND_URL=http://localhost:5173

# Application's public base URL (e.g., http://localhost:3000 in dev, https://yourdomain.com in prod)
APP_BASE_URL=http://localhost:3000