.validationErrorBox {
  background-color: rgba(239, 83, 80, 0.05);
  border: 1px solid rgba(211, 47, 47, 0.4);
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 0.9rem;
  color: #ef9a9a;
  margin-top: 7px;
}

.singleErrorText{
  margin: 0 0 0 0;
  padding: 0;
}

.listHeading {
  font-weight: 500;
  margin: 0 0 8px 0;
  padding: 0;
}

.validationErrorList {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.validationErrorList li {
  margin-bottom: 5px;
}

.validationErrorList li:last-child {
  margin-bottom: 0;
}